@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(241, 245, 241);
  overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 70vw;
    transform: translate(7px);
    margin: 20px auto;
  }
}

.leaflet-container {
  max-width: 50vw;
  height: 50vh;
}

.activeElement {
  background-color: #fff;
  color: red;
  padding: 4px 8px;
  border-radius: 6px;
}
